@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.login3BG {
  background-image: url("/login3BG.png");
}

.emailPassBg2 {
  background-image: url("/assets/t2-bg.png");
}

.smLogo {
  background-image: url("/assets/samaroah-logo.png");
}
