@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.login3BG {
  background-image: url("/login3BG.png");
}

.emailPassBg2 {
  background-image: url("/assets/t2-bg.png");
}

.smLogo {
  background-image: url("/assets/samaroah-logo.png");
}
